.form {
  max-width: 488px;
  display: grid;
  gap: 2rem;
}
.label {
  display: block;
  position: relative;
}
.input {
  display: block;
  width: 100%;
  padding: 12px 16px;
}
.text {
  position: absolute;
  top: 10px;
  left: 16px;
  transition: transform 250ms linear;
}
.input:not(:placeholder-shown),
.input:focus + .text {
  transform: translateY(-150%);
}
