@value bgc-light from "var.module.css";
.paper {
  padding: 32px;
  background-color: bgc-light;
  transition: box-shadow 250ms linear;
}
.paper:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
}
