@value bgc from "var.module.css";

.container {
  min-height: 100vh;
  flex-grow: 1;
  color: blue;
  background-color: bgc;
}
.svg {
  color: #f00;
  fill: currentColor;
  transition: color 250ms linear;
}
.svg:hover {
  color: blue;
}
