body {
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.71;
  color: #010101;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.app {
  min-height: 100vh;
  display: flex;
  /* max-width: 1440px; */
}
