@value accent-cl from "var.module.css";
.button {
  display: inline-flex;
  width: 32px;
  height: 32px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: accent-cl;
  cursor: pointer;
  overflow: hidden;
}
.absolute {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  z-index: 10;
}
